
.left_side
{
    background-color: rgb(37, 112, 250);
    width: 250px;
    height: 1200px;
}


.dashboard_icon
{
    width:  25px;
    height: 25px;
    background-color: white;
}


.dashboard
{
    font-size: 35px;
    font-weight: bold;
    color: white;
}


.left_bar_first_filler
{
    height: 85px;
    width: 250px;
}

.left_bar_dashboard
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* Home Bar */
.left_bar_home
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.home_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}


.home_filler
{
    width: 40px;
}


/* Profile Bar */
.left_bar_profile
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.profile_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.profile_filler
{
    width: 40px;
}


/* Messages */

.left_bar_messages
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.messages_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.messages_filler
{
    width: 40px;
}


/* History */

.left_bar_history
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.history_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.history_filler
{
    width: 40px;
}

/* Tasks */

.left_bar_tasks
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.tasks_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.tasks_filler
{
    width: 40px;
}


/* Communities */

.left_bar_communities
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.communities_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.communities_filler
{
    width: 40px;
}


/* Second Filler */
.left_bar_second_filler
{
    height: 85px;
    width: 250px;
}

/* Settings */

.left_bar_settings
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.settings_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.settings_filler
{
    width: 40px;
}

/* Support */

.left_bar_support
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.support_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.support_filler
{
    width: 40px;
}

/* Privacy */

.left_bar_privacy
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.privacy_icon
{
    width: 20px;
    height: 20px;
    background-color: white;
}

.privacy_filler
{
    width: 40px;
}